body {
  font-family: 'Lato', sans-serif;
}
#Nav{
  border: black 2px solid;
  background-color: rgb(7, 30, 71);
  font-size: 27px;
  color: white;
  padding-left: 10px;
}
#NavIcon{
  width: 6%;
  height: 6%;
  padding-right: 20px;
  padding-bottom: 13px;
}
.NavComponents{
  display: flex;
}

#UserContainer{
  color: white;
  background-color: rgb(7, 30, 71);

  border-top: solid white 1px;
  border-left: solid white 1px;
  width: 30vw;
  height: 86vh;
}

#RoomContainer {
  color:white;
  background-color: rgb(26, 49, 91);
  border-top: solid white 1px;
  border-right: solid white 1px;
  width: 70vw;
  height: 86vh;
}

#Home {
  display: inline-flex;

}
